* {
  box-sizing: border-box;
}

header {
  background: #031330;
  margin: 20px;
  padding: 10px;
}

header > h1 {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

body {
  background-image: url('images/homepageBackground.png');
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #051f4d;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #031330;
}

.scoreboard {
  margin: 40px auto;
  border: 8px solid rgb(10, 0, 72);
  border-radius: 5px;
  width: 300px;
  color: #031330;
  font-size: 80px;
  text-align: center;
  padding: 15px 20px;
  font-family: sans-serif;
  position: relative;
  background: rgb(155, 180, 255);
  transition: all 0.15s ease;
}

.label {
  background: rgb(228, 66, 66);
  color: white;
  font-size: 20px;
  padding: 4px 15px;
  font-family: sans-serif;
}

#user-label {
  position: absolute;
  top: 35%;
  left: -16%;
}

#ai-label {
  position: absolute;
  top: 35%;
  right: -12%;
}

.choices-msg {
  margin: 0px;
  padding: 0px;
  font-size: 27px;
  color: #031330;
  text-align: center;
  font-family: sans-serif;
}

.msg {
  font-size: 32px;
  color: #031330;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

.plays {
  margin-top: 35px;
  text-align: center;
}

.choice {
  border: 6px solid rgb(10, 0, 72);
  border-radius: 25%;
  padding: 20px;
  margin: 0 10px;
  display: inline-block;
  background: rgb(155, 180, 255);
  transition: all 0.15s ease;
}

.choice-hover {
  cursor: pointer;
  background: rgb(105, 121, 210);
}

#make-your-move {
  text-align: center;
  color: #031330;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 25px;
}

.choice-green-glow {
  border: 6px solid rgb(26, 153, 26);
  box-shadow: 0 0 25px rgb(8, 184, 8);
  background: rgb(163, 226, 163);
}

.choice-yellow-glow {
  border: 6px solid rgb(177, 180, 22);
  box-shadow: 0 0 25px rgb(213, 213, 13);
  background: rgb(226, 216, 163);
}

.choice-red-glow {
  border: 6px solid rgb(227, 65, 65);
  box-shadow: 0 0 25px rgb(255, 28, 28);
  background: rgb(226, 163, 163);
}

.scoreboard-green-glow {
  border: 8px solid rgb(26, 153, 26);
  box-shadow: 0 0 40px rgb(8, 184, 8);
  background: rgb(163, 226, 163);
}

.scoreboard-yellow-glow {
  border: 8px solid rgb(177, 180, 22);
  box-shadow: 0 0 40px rgb(213, 213, 13);
  background: rgb(226, 216, 163);
}

.scoreboard-red-glow {
  border: 8px solid rgb(227, 65, 65);
  box-shadow: 0 0 40px rgb(255, 28, 28);
  background: rgb(226, 163, 163);
}