.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(0deg, #6097eb, #2b81e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
